@import 'fonts';

$left-gradient: #FFB88C;
$right-gradient: #DE6262;
$font-color-main: #ffffff;

/* Media Sizes */
$media-sizes-lg: 1050px;
$media-sizes-md: 650px;
$media-sizes-sm: 450px;

/* Font Sizes */
$font-sizes-lg: (
  h1: 8.2vw,
  h2: 5.2vw,
  '[class^="icon-"]:before': 4.2vw
);

$font-sizes-md: (
  h1: 13.5vw,
  h2: 8vw,
  '[class^="icon-"]:before': 9vw
);

$font-sizes-sm: (
  h1: 16.5vw,
  h2: 10vw,
  '[class^="icon-"]:before': 9vw
);

body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: $font-color-main;
  background: $right-gradient;
  background: -webkit-linear-gradient(to right, $left-gradient, $right-gradient);
  background: linear-gradient(to right, $left-gradient, $right-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  font-size: 5.9vw;
  line-height: 90%;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 2.9vw;
  font-family: 'Roboto Condensed', sans-serif;
}

a, a:hover {
  color: $font-color-main;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: opacity 350ms linear;
}

[class^="icon-"]:before {
  font-size: 2.7vw;
}

/* Background */
.background {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  canvas {
    background: transparent;
  }

  .overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #efefef;
    opacity: 0.2;
  }
}

/* Container */
.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .callout {
    margin: 25vh auto;
    text-align: center;
  }
}

/* Media Queries */
@media (max-width: $media-sizes-sm) {
  .container {
    .callout {
      margin: 20vh auto;
    }
  }
}

/* Font Sizes Map */
$media-font-sizes: (
  #{$media-sizes-lg}: $font-sizes-lg,
  #{$media-sizes-md}: $font-sizes-md,
  #{$media-sizes-sm}: $font-sizes-sm
);

/* Set Media & Font Sizes*/
 @each $size, $styles in $media-font-sizes {
   @media (max-width: $size) {
      @each $header, $size in $styles {
          #{$header} {
            font-size: $size;
          }
      }
    }
  }
